{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de pass - La Boutique Française{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>

    <hr>
    <ul>
        <li><a href="{{ path('account') }}">Retourner à mon compte</a></li>
    </ul>
    <div>
        {% if notif %}
            <div class="alert alert-info">{{ notif }}</div>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}

